h1 {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: .3rem;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    padding-left: inherit;
}